* {

    padding: 0;
    margin: 0;
    box-sizing: none;
    outline: none;
    text-decoration: none;
    border: none;
    color: #fff;


}


.nav-pusat {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand span {
    color: red;

}




.nav-item {

    list-style-type: none;
    font-size: 1.2em;
    margin-right: 11px;
    /* memberikan jarak kanan antara elemen <li> */
    color: white
}

.nav-item:hover {
    background-color: red;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 5px;
}

body {
    min-height: 2000px;
}

.b {
    background-color: #000;
}


/* content */
.card-header .card-body {
    color: #fff;
}

.text-center {
  
}

/* utama */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../image/backgroud\ kok\ kayu.jpg);


    /* supaya bisa sesuai kan layar / px */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1), 10%, rgb(62, 71, 195, 0) 50%);
}

.hero .text {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .text h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .text p {
    font-size: 1.3rem;
    margin-top: 1rem;
    mix-blend-mode: difference;
    color: #fff;
}




/* Perangkat */

/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 70%;
    }
}







.tentang .row {
    flex-wrap: wrap;
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

/* andoid */
@media (max-width: 450px) {
    html {
        font-size: 54%;
    }
}